{% extends 'layout/base.html' %}
{% load static %}



<title>{% block title%}Commun joal{%endblock%}</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <header>

    </header>

    <div class="body container">
    {% block body  %}

   <div class="col-sm-12"><div style="width: 100%; height: 100%; display: flex; justify-items: center;margin: 35px;">
                        <!-- iframe title="Education2" src="https://app.powerbi.com/view?r=eyJrIjoiNjM5ZjE3NzctNmI0Yy00YWVkLWFkMWMtMDJmOWEzZjNhYmU4IiwidCI6ImJmZTY0YzY0LWIwY2UtNDJiZC04MDlhLWE4ODlhMjJhZGQwOSJ9&amp;pageName=ReportSection" allowfullscreen="" width="2000" height="650" frameborder="0">
                        </iframe-->
          <iframe title="ACCUEIL" width="2000" height="650" src="https://app.powerbi.com/view?r=eyJrIjoiY2JmMGRhMDUtZjNkNy00OGZjLWI3YWUtMmQxMzc1NGE4YmJkIiwidCI6ImJmZTY0YzY0LWIwY2UtNDJiZC04MDlhLWE4ODlhMjJhZGQwOSJ9" frameborder="0" allowFullScreen="true"></iframe>
          </div>

{% endblock %}
</div>

</body>
</html>