{% extends 'layout/base.html' %}
{% load static %}



<title>{% block title%}Commun joal{%endblock%}</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <header>

    </header>

    <div class="body container">
    {% block body  %}
<div class="carouse">
	<div class="carousel-inner">

		<div class="carousel-item active">
			<img src="{% static '/imge/jF.jpg ' %}" class="d-block w-100" style="max-height: 450px;" alt="...">

		</div>
	</div>

	<div class="info-com">
		<div class="row">
			<div class="col-sm-4 col1">
				<div class="img">
					<img src="{% static '/imge/joal.jpg'%}" alt="logo" width="300" height="300">
				</div>
				<div>

				</div>
			</div>
			<div class="col-sm-8 col2"  style="background-color:  #258baf">
				<div class="info-flottan-text" style="color: #fff">
					<div class="info-flottan-text-title">
						<h5 class="" >Commune de Joal-Fadiouth</h5>
					</div>

					<p align="">Cette plateforme met ensemble des données clés et informations essentielles sur les différents axes prioritaires de développement au niveau de la commune de <b>Joal-Fadiouth</b> à savoir la peche et la transformation artisanale</a> </p>
				</div>

				<div class="out-indic mx-auto">
					<div class="row my-3 mx-auto"><div class="col-6 col-indic"><a href="{% url 'peche' %}"class="btn btn-outline-success" ><img src="{% static '/imge/icon peche.png'%}" alt="logo" width="50" height="50">  PECHES</a></div>
					</div>
					<div class="row my-1 mx-auto">
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="shadow-lg p-3 mb-5 bg-body rounded mt-5 container">
    <div class=" px-4 my-5 row row-cols-sm-12">
        <div class="jumbotron text-center">
            <div style="display: flex; width: 100%; height: 100%; color:  #258baf">
                <h2> Commune de Joal-Fadiouth<span> </span></h2></div></div><div class="col-sm-6">
                    <p class="para" style="font-size: 18px">
                       La commune de Joal-Fadiouth est située à l&#39;extrémité de la petite-côte, au sud de la capitale Dakar.
Joal-Fadiouth est la réunion de deux villages, Joal, plus vaste et sur le littoral et Fadiouth, plus visité
par les touristes. Fadiouth est aussi une île artificielle et relié à Joal par un pont de bois. Fadiouth est
le village de naissance du président poète, Léopold Sédar Senghor.
La commune de Joal – Fadiouth est caractérisée par trois grandes zones. Un première zone qui
correspond à Joal et qui regroupe les services administratifs et municipaux. Une deuxième zone
plutôt commerciale qui coïncide avec la zone du port. Une troisième zone dédiées aux unités de
transformation des produits de la pêche dans les tannes.
Histoire de la commune
L’histoire de la commune est diversement racontée par les historiens et leaders traditionnels.<br>
<a href="{% url 'commune' %}" class="btn btn-primary"></i>Savoir Plus</a></p>
</div>
                        <div class="col-sm-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30947.89023579944!2d-16.843808149999997!3d14.16627275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec21695226dc18b%3A0x1da681c99400a09b!2sJoal%20Fadiouth!5e0!3m2!1sfr!2ssn!4v1680408279496!5m2!1sfr!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div></div></div>




                    <div class="col-sm-12"><div style="width: 100%; height: 100%; display: flex; justify-items: center;margin: 35px;">
                        <!-- iframe title="Education2" src="https://app.powerbi.com/view?r=eyJrIjoiNjM5ZjE3NzctNmI0Yy00YWVkLWFkMWMtMDJmOWEzZjNhYmU4IiwidCI6ImJmZTY0YzY0LWIwY2UtNDJiZC04MDlhLWE4ODlhMjJhZGQwOSJ9&amp;pageName=ReportSection" allowfullscreen="" width="2000" height="650" frameborder="0">
                        </iframe-->
          <iframe title="ACCUEIL" width="2000" height="650" src="https://app.powerbi.com/view?r=eyJrIjoiY2JmMGRhMDUtZjNkNy00OGZjLWI3YWUtMmQxMzc1NGE4YmJkIiwidCI6ImJmZTY0YzY0LWIwY2UtNDJiZC04MDlhLWE4ODlhMjJhZGQwOSJ9" frameborder="0" allowFullScreen="true"></iframe>
          </div>

{% endblock %}
</div>

</body>
</html>