{% extends 'pages/base.html' %} {% load static %} {% block content %}
<div class="page-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h2>
            Bienvenue {{ profile.user.username }} ! Veuillez compléter votre
            profil
          </h2>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Save" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
