
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
 <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="form-title"><span>Access Education</span></h5>
            </div>
            {% include 'includes/messages.html' %}	
            <div class="card-body">
               <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
              
                  {{ form.as_p }}
                  <div class="row">
                     <div class="col-md-6">
                        
                        
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>EffectifPrescoMoyenneSection:</label>
                           {{ form.EffectifPrescoMoyenneSection }}
                        </div>
                        <div class="form-group">
                           <label>EffectifPrescoGrandeSection:</label>
                           {{ form.EffectifPrescoGrandeSection }}
                        </div>
                        <div class="form-group">
                           <label>EffectifsPrescoTT:</label>
                           {{ form.EffectifsPrescoTT }}</div>
                        <div class="form-group">
                           <label>NbreGarcons_FillesPSs:</label>
                           {{ form.NbreGarcons_FillesPS }}
                        </div>
                        <div class="form-group">
                           <label>NbreGarcons_FillesMS:</label>
                           {{ form.NbreGarcons_FillesMS }}
                        </div>
                        <div class="form-group">
                           <label>NbreGarcons_FillesGS:</label>
                           {{ form.NbreGarcons_FillesGS }}
                        </div>
                        <div class="form-group">
                          <label>NreFillesPrescolaire:</label>
                          {{ form.NreFillesPrescolaire}}
                       </div>
                  </div>


              
                  <div class="row">
                    <div class="col-md-6">
                       
                       <div class="form-group">
                          <label>EffectifsTotalElvInscitPrescoPublic:</label>
                          {{ form.EffectifsTotalElvInscitPrescoPublic}}
                       </div>
                       <div class="form-group">
                          <label>EffectifsTotalElvInscitPrescoStuctureCommunautaires :</label>
                          {{ form.EffectifsTotalElvInscitPrescoStuctureCommunautaires }}
                       </div>
                       <div class="form-group">
                          <label>EffectifsTotalElev:</label>
                          {{ form.EffectifsTotalElev}}
                       </div>
                       <div class="form-group">
                         <label>NbreStructurePrescolairePublic:</label>
                         {{ form.NbreStructurePrescolairePublic }}
                      </div>
                       <div class="form-group">
                          <label>NbreStructurePrescolairePrive:</label>
                          {{ form.NbreStructurePrescolairePublic}}
                       </div>
                       <div class="form-group">
                          <label>EffectifTotalElevInscritPrescolaire:</label>
                          {{ form.EffectifTotalElevInscritPrescolaire }}
                       </div>
                       <div class="form-group">
                          <label>NbreStructuresPrescolaireCommunautaires:</label>
                          {{ form.EffectifsTotalElvInscitPrescoStuctureCommunautaires}}
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="form-group">
                          <label>NbreDaaraModerne:</label>
                          {{ form.NbreDaaraModernes}}
                       </div>
                       <div class="form-group">
                          <label>NbreDaaraMises_Niveau:</label>
                          {{ form.NbreDaaraMises_Niveau }}
                       </div>
                       <div class="form-group">
                          <label>NbreEnfDansElementaire:</label>
                          {{ form.NbreEnfDansElementaire }}</div>
                       <div class="form-group">
                          <label>NbreGarconsDansElementaire:</label>
                          {{ form.NbreGarconsDansElementaire }}
                       </div>
                       <div class="form-group">
                          <label>NbreFillesDansElementaire:</label>
                          {{ form.NbreFillesDansElementaire }}
                       </div>
                       <div class="form-group">
                          <label>NbreElvInscritCIPremierFois:</label>
                          {{ form.NbreElvInscritCIPremierFois }}
                       </div>
                       <div class="form-group">
                         <label>NbreElvQuittantEtablissementCommuneversEtablissemnetHorsCommune:</label>
                         {{ form.NbreElvQuittantEtablissementCommuneversEtablissemnetHorsCommune}}
                      </div>
                 </div>


                 
                  <div class="col-md-6">
                     
                     <div class="form-group">
                        <label>NbreEcoleElementairePubliques:</label>
                        {{ form.NbreEcoleElementairePubliques}}
                     </div>
                     <div class="form-group">
                        <label>NbreEcoleElementairePrivees:</label>
                        {{ form.NbreEcoleElementairePrivees}}
                     </div>
                     <div class="form-group">
                        <label>EnsGarcons_12_15ans:</label>
                        {{ form.EnsGarcons_12_15ans}}
                     </div>
                     <div class="form-group">
                       <label>EnsFilles_12_15ans:</label>
                       {{ form.EnsFilles_12_15ans }}
                        
                    </div>
                     <div class="form-group">
                        <label>NreElevesElementaire:</label>
                        {{ form.NreElevesElementaire}}
                     </div>
                     <div class="form-group">
                        <label>NbreGarconsElementaire:</label>
                        {{ form.NbreGarconsElementaire }}
                     </div>
                     <div class="form-group">
                        <label>NbreFillesElementaire:</label>
                        {{ form.NbreFillesElementaire}}
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>EnsGarcons_16_18ans:</label>
                        {{ form.EnsGarcons_16_18ans}}
                     </div>
                     <div class="form-group">
                        <label>EnsFilles_16_18ans:</label>
                        {{ form.EnsFilles_16_18ans}}
                     </div>
                     <div class="form-group">
                        <label>EnsGarcons_Filles_16_18ans:</label>
                        {{ form.EnsGarcons_Filles_16_18ans }}</div>
                     <div class="form-group">
                        <label>NbreElvSecondaire:</label>
                        {{ form.NbreElvSecondaire }}
                     </div>
                     <div class="form-group">
                        <label>NbreGarconsSecondaire:</label>
                        {{ form.NbreGarconsSecondaire }}
                     </div>
                     <div class="form-group">
                        <label>NbreFillesSecondaire:</label>
                        {{ form.NbreFillesSecondaire }}
                     </div>
                     <div class="form-group">
                       <label>NbreFillesEnceinteEnCoursAnnee_Secondaires:</label>
                       {{ form.NbreFillesEnceinteEnCoursAnnee_Secondaire}}
                    </div>
               </div>
                  <div class="text-right">
                     <button type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   
</div>


     
<div >
  <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          
         
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0">
                      <thead>
                         <tr>
                           <tr>
                              <th >N</th>
                              <th >EnsGarcons3_5ans</th>
                              <th >EnsFilles3_5ans</th>
                              <th >EnsFilles_Garcons3_5ans</th>
                              <th Effectif Garcons Inscrit Prescolaire</th>
                     <th >EffectifFillesnscritPrescolaire</th>
                     <th >EffectifTotalElevInscritPrescolaire</th>
                     <th >EffectifsPrescPetiteSection</th>
                     <th >EffectifPrescoMoyenneSection</th>
                     <th >EffectifPrescoGrandeSection</th>
                     <th >EffectifsPrescoTT</th>
                     <th >NbreGarcons_FillesPS</th>
                     <th >NbreGarcons_FillesMS</th>
                     <th >NbreGarcons_FillesGS</th>
                     <th >NreFillesPrescolaire</th>
                     <th >EffectifsTotalElvInscitPrescoPublic</th>
                     <th >EffectifsTotalElvInscit</th>
                     <th >EffectifsTotalElev</th>
                     <th >NbreStructurePrescolairePublic</th>
                     <th >NbreStructurePrescolairePrive</th>
                     <th >NbreStructuresPrescolaireCommunautaires</th>
                     <th >NbreDaaraModernes</th>
                     <th >NbreDaaraMises_Niveau</th>
                     <th >NbreEnfDansElementaire</th>
                     <th >NbreGarconsDansElementaire</th>
                     <th >NbreFillesDansElementaire</th>
                     <th >NbreElvInscritCIPremierFois</th>
                     <th >NbreElvQuittCommune</th>
                     <th >NbreElvProvenanveEtablissemnetHorsCommune</th>
                     <th >NbreEcoleElementairePubliques</th>
                     <th >NbreEcoleElementairePrivees</th>
                     <th >EnsGarcons_12_15ans</th>
                     <th >EnsFilles_12_15ans</th>
                     <th >EnsFilles_12_15ans</th>
                     <th >EnsFillesGarcons_12_15ans</th>
                     <th >NreElevesElementaire</th>
                     <th >NbreGarconsElementaire</th>
                     <th >NbreFillesElementaire</th>
                     <th >EnsGarcons_16_18ans</th>
                     <th >EnsFilles_16_18ans</th>
                     <th >EnsGarcons_Filles_16_18ans</th>
                     <th >NbreElvSecondaire</th>
                     <th >NbreGarconsSecondaire</th>
                     <th >NbreFillesSecondaire</th>
                     <th >NbreFilleMarieeCoursAnnee_Secondaire</th>
                     <!--th >NbreFillesEnceinteEnCoursAnnee_Secondaire</th-->
                           <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for stud in dataOb %}
                        <tr>
                          <td>{{ stud.id }}</td>
                          <td>{{ stud.EnsGarcons3_5ans }}</td>

                          <td>{{ stud.EnsFilles3_5ans }}</td>

                          <td>{{ stud.EnsFilles_Garcons3_5ans}}</td>

                          <td>{{ stud.EffectifGarconsInscritPrescolaire }}</td>

                          <td>{{ stud.EffectifFillesnscritPrescolaire }}</td>

                          <td>{{ stud.EffectifTotalElevInscritPrescolaire }}</td>

                          <td>{{ stud.EffectifsPrescPetiteSection }}</td>

                          <td>{{ stud.EffectifPrescoMoyenneSection }}</td>

                          <td>{{ stud.EffectifPrescoGrandeSection }}</td>

                          <td>{{ stud.EffectifsPrescoTT }}</td>

                          <td>{{ stud.NbreGarcons_FillesPS }}</td>

                          <td>{{ stud.NbreGarcons_FillesMS }}</td>

                          <td>{{ stud.NbreGarcons_FillesGS }}</td>

                          <td>{{ stud.NreFillesPrescolaire }}</td>

                          <td>{{ stud.NreFillesPrescolaire }}</td>

                          <td>{{ stud.EffectifsTotalElvInscitPrescoPublic }}</td>

                          <td>{{ stud.EffectifsTotalElvInscitPrescoStuctureCommunautaires }}</td>

                          <td>{{ stud.EffectifsTotalElev }}</td>

                          <td>{{ stud.NbreStructurePrescolairePublic }}</td>

                          <td>{{ stud.NbreStructurePrescolairePrive }}</td>

                          <td>{{ stud.NbreStructuresPrescolaireCommunautaires }}</td>

                          <td>{{ stud.NbreDaaraModernes }}</td>

                          <td>{{ stud.NbreDaaraMises_Niveau }}</td>

                          <td>{{ stud.NbreEnfDansElementaire }}</td>

                          <td>{{ stud.NbreGarconsDansElementaire }}</td>

                          <td>{{ stud.NbreFillesDansElementaire }}</td>

                          <td>{{ stud.NbreElvInscritCIPremierFois }}</td>

                          <td>{{ stud.NbreElvQuittantEtablissementCommuneversEtablissemnetHorsCommune }}</td>

                          <td>{{ stud.NbreElvProvenanveEtablissemnetHorsCommune }}</td>

                          <td>{{ stud.NbreEcoleElementairePubliques }}</td>

                          <td>{{ stud.NbreEcoleElementairePrivees }}</td>

                          <td>{{ stud.EnsGarcons_12_15ans }}</td>

                          <td>{{ stud.EnsFilles_12_15ans }}</td>

                          <td>{{ stud.EnsFillesGarcons_12_15ans }}</td>

                          <td>{{ stud.NreElevesElementaire }}</td>

                          <td>{{ stud.NbreGarconsElementaire }}</td>

                          <td>{{ stud.NbreFillesElementaire }}</td>

                          <td>{{ stud.EnsGarcons_16_18ans }}</td>

                          <td>{{ stud.EnsFilles_16_18ans }}</td>

                          <td>{{ stud.EnsGarcons_Filles_16_18ans }}</td>

                          <td>{{ stud.NbreElvSecondaire }}</td>

                          <td>{{ stud.NbreGarconsSecondaire }}</td>

                          <td>{{ stud.NbreFillesSecondaire }}</td>

                          <td>{{ stud.NbreFilleMarieeCoursAnnee_Secondaire }}</td>
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'education:up_acc' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'education:de_acc' stud.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
    </div>
    
 </div>
 {% endblock %}	