
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
 <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="form-title"><span>Performance</span></h5>
            </div>
            {% include 'includes/messages.html' %}	
            <div class="card-body">
               <form method="POST" action="{% url 'education:DimPer'%}" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                  <div class="row">
                     <div class="col-md-6">
                        {{ form.as_p }}
                    </div>
                        
                  </div>
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   



     
<div >
  <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          
         
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0">
                      <thead>
                         <tr>
                              <th>ID</th>
                              <th>PerNombreNouveauxInscritsCPAnneeT</th>
                              <th>PerNombreRedoublantsCPAnneeT</th>
                              <th>PerNombleElevesCiAnneeT_1</th>
                              <th>PerNombreNouveauxInscritsCE1AnneeT</th>
                              <th>PerNombreNouveauxInscritsCE2AnneeT</th>
                              <th>PerNombreNouveauxInscritsCM1AnneeT</th>
                              <th>PerNombreNouveauxInscritsCM2AnneeT</th>
                              <th>PerNombreRedoublantsCE1AnneeT</th>
                              <th>PerNombreRedoublantsCE2AnneeT</th>
                              <th>PerNombreRedoublantsCM1AnneeT</th>
                              <th>PerNombreRedoublantsCM2AnneeT</th>
                              <th>PerNombleElevesCpAnneeT_1</th>
                              <th>PerNombleElevesCE1AnneeT_1</th>
                              <th>PerNombleElevesCE2AnneeT_1</th>
                              <th>PerNombleElevesCM1AnneeT_1</th>
                              <th>PerNombleElevesCM2AnneeT_1</th>
                              <th>PerNombreNouveauxInscrits5emeAnneeT</th>
                              <th>PerNombreNouveauxInscrits4emeAnneeT</th>
                              <th>PerNombreNouveauxInscrits3emeAnneeT</th>
                              <th>PerNombreNouveauxInscrits1ereAnneeT</th>
                              <th>PerNombreNouveauxInscritsTerminaleAnneeT</th>
                              <th>PerNombreRedoublantsEn5emeAnneeT</th>
                              <th>PerNombreRedoublantsEn4emeAnneeT</th>
                              <th>PerNombreRedoublantsEn3emeAnneeT</th>
                              <th>PerNombreRedoublantsEn1erAnneeT</th>
                              <th>PerNombreRedoublantsTerminaleAnneeT</th>
                              <th>PerNombreEleves6emeAnneeT_1</th>
                              <th>PerNombreEleves5emeAnneeT_1</th>
                              <th>PerNombreEleves4emeAnneeT_1</th>
                              <th>PerNombreEleves2ndeAnneeT_1</th>
                              <th>PerNombreEleves1erAnneeT_1</th>
                              <th>PerNombreNouveauxInscrisGarconsCM2AnneeT</th>
                              <th>PerNombreNouveauxInscritsFillesCM2AnneeT</th>
                              <th>PerPopulationJeunesAge11ansAnneeT</th>
                              <th>PerNombreNouveauxInscrits3emeGarconsAnneeT</th>
                              <th>PerNombreNouveauxInscrits3emeFillesAnneeT</th>
                              <th>PerPopulationJeunesAge15ansAnneeT</th>
                              <th>PerNouveauxInscrits6eme</th>
                              <th>PerNouveauxFillesInscrits6eme</th>
                              <th>PerNouveauxGarconsInscrits6eme</th>
                              <th>PerEffectifTotalInscritCm2AnneeT_1</th>
                              <th>PerNouveauxInscrit2ndAnneeT</th>
                              <th>PerNouveauxGarconsInscrits2nd</th>
                              <th>PerNouveauxFillesInscrits2nd</th>
                              <th>PerEffectifTotalInscrit3emeAnneeT_1</th>
                              <th>PerNombreNouveauxInscritsEnTerminaleAnneeT</th>
                              <th>PerNombreFillesNouveauxInscritsTerminale</th>
                              <th>PerNombreGarconsNouveauxInscritTerminale</th>
                              <th>PerPopulationJeunesAges18ansAnneeT</th>
                              <th>PerPopulationJeunesGarçonsAge18ansAnneeT</th>
                              <th>PerPopulationJeunesFilles18ansAnneeT</th>
                              <th>PerResultatCFEE</th>
                              <th>PerResultatCFEE_Filles</th>
                              <th>PerResultatCFEE_Garcons</th>
                              <th>PerResultatBFEM</th>
                              <th>PerResultatBFEM_Filles</th>
                              <th>PerResultatBfem_Garcons</th>
                              <th>PerResultatBac</th>
                              <th>PerResultatBac_Filles</th>
                              <th>PerResultatBac_Garcons</th>
                              <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for stud in dataObject %}
                         <tr>
                          
                                 <td>{{ stud.id }}</td>
                                 <td>{{ stud.PerNombreNouveauxInscritsCPAnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsCPAnneeT}}</td>
                                 <td>{{ stud.PerNombleElevesCiAnneeT_1}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscritsCE1AnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscritsCE2AnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscritsCM1AnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscritsCM2AnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsCE1AnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsCE2AnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsCM1AnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsCM2AnneeT}}</td>
                                 <td>{{ stud.PerNombleElevesCpAnneeT_1}}</td>
                                 <td>{{ stud.PerNombleElevesCE1AnneeT_1}}</td>
                                 <td>{{ stud.PerNombleElevesCE2AnneeT_1}}</td>
                                 <td>{{ stud.PerNombleElevesCM1AnneeT_1}}</td>
                                 <td>{{ stud.PerNombleElevesCM2AnneeT_1}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscrits5emeAnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscrits4emeAnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscrits3emeAnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscrits1ereAnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscritsTerminaleAnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsEn5emeAnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsEn4emeAnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsEn3emeAnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsEn1erAnneeT}}</td>
                                 <td>{{ stud.PerNombreRedoublantsTerminaleAnneeT}}</td>
                                 <td>{{ stud.PerNombreEleves6emeAnneeT_1}}</td>
                                 <td>{{ stud.PerNombreEleves5emeAnneeT_1}}</td>
                                 <td>{{ stud.PerNombreEleves4emeAnneeT_1}}</td>
                                 <td>{{ stud.PerNombreEleves2ndeAnneeT_1}}</td>
                                 <td>{{ stud.PerNombreEleves1erAnneeT_1}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscrisGarconsCM2AnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscritsFillesCM2AnneeT}}</td>
                                 <td>{{ stud.PerPopulationJeunesAge11ansAnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscrits3emeGarconsAnneeT}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscrits3emeFillesAnneeT}}</td>
                                 <td>{{ stud.PerPopulationJeunesAge15ansAnneeT}}</td>
                                 <td>{{ stud.PerNouveauxInscrits6eme}}</td>
                                 <td>{{ stud.PerNouveauxFillesInscrits6eme}}</td>
                                 <td>{{ stud.PerNouveauxGarconsInscrits6eme}}</td>
                                 <td>{{ stud.PerEffectifTotalInscritCm2AnneeT_1}}</td>
                                 <td>{{ stud.PerNouveauxInscrit2ndAnneeT}}</td>
                                 <td>{{ stud.PerNouveauxGarconsInscrits2nd}}</td>
                                 <td>{{ stud.PerNouveauxFillesInscrits2nd}}</td>
                                 <td>{{ stud.PerEffectifTotalInscrit3emeAnneeT_1}}</td>
                                 <td>{{ stud.PerNombreNouveauxInscritsEnTerminaleAnneeT}}</td>
                                 <td>{{ stud.PerNombreFillesNouveauxInscritsTerminale}}</td>
                                 <td>{{ stud.PerNombreGarconsNouveauxInscritTerminale}}</td>
                                 <td>{{ stud.PerPopulationJeunesAges18ansAnneeT}}</td>
                                 <td>{{ stud.PerPopulationJeunesGarçonsAge18ansAnneeT}}</td>
                                 <td>{{ stud.PerPopulationJeunesFilles18ansAnneeT}}</td>
                                 <td>{{ stud.PerResultatCFEE}}</td>
                                 <td>{{ stud.PerResultatCFEE_Filles}}</td>
                                 <td>{{ stud.PerResultatCFEE_Garcons}}</td>
                                 <td>{{ stud.PerResultatBFEM}}</td>
                                 <td>{{ stud.PerResultatBFEM_Filles}}</td>
                                 <td>{{ stud.PerResultatBfem_Garcons}}</td>
                                 <td>{{ stud.PerResultatBac}}</td>
                                 <td>{{ stud.PerResultatBac_Filles}}</td>
                                 <td>{{ stud.PerResultatBac_Garcons}}</td>
                                 <td class="text-right">
                                <div class="actions">
                                  <a href="{% url 'education:update_perf' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'education:delete_perf' stud.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
    </div>
    </div>
 </div>
 {% endblock %}	