
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="col-12">
                        <h5 class="form-title"><span>Formulaire Dimension Peche Artisanale </span></h5>
                     </div>

                     {% include 'includes/messages.html' %}	

                    
                           {{ form.as_p}}</div>
                    
        
                  
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>Id</th>
                           <th>codeCommune</th>
                           <th>nomCommune</th>
                           <th>ActPech_Artisan </th>
                           <th>NbrActeur</th>
                           <th>GroupPecheur </th>
                           <th>NbreGIEPecheur</th>
                           <th>NbrOrganiProfessPecheur</th>
                           <th>Nbr_AssociatPecheur</th>
                           <th>GroupMareyeur </th>
                           <th>NbreGIEMarey</th>
                           <th>NbrOrganiProfessMarey</th>
                           <th>Nbr_AssociatMarey</th>
                           <th>NbreQuaiPech</th>
                           <th>TypePirogu </th>
                           <th>TypProdPechPirogBois </th>
                           <th>TypProdPechPirogFibr </th>
                           <th>TypProdPechPirogAlumin </th>
                           <th>TypeProdHalieuHiver </th>
                           
                           <th>TypeProdHalieuInterSaison </th>
                           <th>TypeProdHalieuSaisFroid </th>
                           <th>TypeProdHalieuPrimptem </th>
                           <th>IntrantPech </th>
                           <th>MatUtilisePech </th>
                           <th>SourcApprovis_Intran </th>
                           <th>SourcApprovis_Materiel </th>
                           <th>Qteannuel_debarq</th>
                           <th>NivCaptMoyenHiver </th>
                           <th>NivCaptMoyenInterSaison </th>
                           <th>NivCaptMoyenSaisFroid </th>
                           <th>NivCaptMoyenPrintem </th>
                           <th>NivCaptMoyenSortTypProd </th>
                           <th>NivPertPostCaptHiver </th>
                           <th>NivPertPostCaptInterSaison </th>
                           <th>NivPertPostCaptSaisFroid </th>
                           <th>NivPertPostCaptPrintem </th>
                           <th>NivPertPostCaptTypProd </th>
                           
                           <th>date</th>
                           <th>date_modification</th>
                           
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                        <tr>
                          
                           <td>{{ stud.id}}</td>
                           <td>  {{ stud.codeCommune }}</td>
                           <td>{{ stud.nomCommune  }}</td>
                           <td>{{ stud.ActPech_Artisan  }}</td>
                           <td>{{ stud.NbrActeur }}</td>
                           <td>{{ stud.GroupPecheur  }}</td>
                           <td>{{ stud.NbreGIEPecheur }}</td>
                           <td>{{ stud.NbrOrganiProfessPecheur }}</td>
                           <td>{{ stud.Nbr_AssociatPecheur }}</td>
                           <td>{{ stud.GroupMareyeur  }}</td>
                           <td>{{ stud.NbreGIEMarey }}</td>
                           <td>{{ stud.NbrOrganiProfessMarey }}</td>
                           <td>{{ stud.Nbr_AssociatMarey }}</td>
                           <td>{{ stud.NbreQuaiPech }}</td>
                           <td>{{ stud.TypePirogu  }}</td>
                           <td>{{ stud.TypProdPechPirogBois  }}</td>
                           <td>{{ stud.TypProdPechPirogFibr  }}</td>
                           <td>{{ stud.TypProdPechPirogAlumin  }}</td>
                           <td>{{ stud.TypeProdHalieuHiver  }}</td>
                           <td>{{ stud.TypeProdHalieuInterSaison  }}</td>
                           <td>{{ stud.TypeProdHalieuSaisFroid  }}</td>
                           <td>{{ stud.TypeProdHalieuPrimptem  }}</td>
                           <td>{{ stud.IntrantPech  }}</td>
                           <td>{{ stud.MatUtilisePech  }}</td>
                           <td>{{ stud.SourcApprovis_Intran  }}</td>
                           <td>{{ stud.SourcApprovis_Materiel  }}</td>
                           <td>{{ stud.Qteannuel_debarq }}</td>
                           <td>{{ stud.NivCaptMoyenHiver  }}</td>
                           <td>{{ stud.NivCaptMoyenInterSaison  }}</td>
                           <td>{{ stud.NivCaptMoyenSaisFroid  }}</td>
                           <td>{{ stud.NivCaptMoyenPrintem  }}</td>
                           <td>{{ stud.NivCaptMoyenSortTypProd  }}</td>
                           <td>{{ stud.NivPertPostCaptHiver  }}</td>
                           <td>{{ stud.NivPertPostCaptInterSaison  }}</td>
                           <td>{{ stud.NivPertPostCaptSaisFroid  }}</td>
                           <td>{{ stud.NivPertPostCaptPrintem  }}</td>
                           <td>{{ stud.NivPertPostCaptTypProd  }}</td>
                           
                           <td>{{ stud.date }}</td>
                           <td>{{ stud.date_modification }}</td>	
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'peche:up_ar' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{% url 'peche:de_ar' stud.id %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   
</div>
{% endblock %}	