
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="col-12">
                        <h5 class="form-title"><span>Formulaire dimension Peche Assurance</span></h5>
                     </div>

                     {% include 'includes/messages.html' %}	

                    
                           
                           {{ form.as_p}}
               
                   
					
					 
					      
                     
                     
		 
            </div>
                  
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>Id</th>
                           <th>codeCommune</th>
                           <th>nomCommune</th>
                           <th>OffreAssureExistPech</th>
                           <th>TypeAssurancPech</th>
                           <th>NbreSouscripPech</th>
                           <th>NbrePrimePech</th>
                           <th>BesoinFormatPech</th>
                           <th>ActeurSensibilisePech</th>
                           <th>ActeurFormatPech</th>
                           <th>BesoinSensibilisePech</th>
                           <th>ContraintGlobPech</th>
                           <th>ContrainMajFilier</th>
                           <th>NbrInfrastruStokCondition</th>
                           <th>NbrFourniEmblag</th>
                           <th>NbrProdLabel</th>
                           <th>Date Début</th>
                           <th>Date de Modification</th>
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                        <tr>
                         
                           <td>{{ stud.id}}</td>
                           <td>{{ stud.codeCommune }}</td>	
                           <td>{{ stud.nomCommune }}</td>	
                           <td>{{ stud.OffreAssureExistPech }}</td>	
                           <td>{{ stud.TypeAssurancPech }}</td>	
                           <td>{{ stud.NbreSouscripPech }}</td>	
                           <td>{{ stud.NbrePrimePech }}</td>	
                           <td>{{ stud.BesoinFormatPech }}</td>	
                           <td>{{ stud.ActeurSensibilisePech }}</td>	
                           <td>{{ stud.ActeurFormatPech }}</td>	
                           <td>{{ stud.BesoinSensibilisePech }}</td>	
                           <td>{{ stud.ContraintGlobPech }}</td>	
                           <td>{{ stud.ContrainMajFilier }}</td>	
                           <td>{{ stud.NbrInfrastruStokCondition }}</td>	
                           <td>{{ stud.NbrFourniEmblag }}</td>	
                           <td>{{ stud.NbrProdLabel }}</td>	
                           <td>{{ stud.date }}</td>
                           <td>{{ stud.date_modification }}</td>		
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'peche:up_ass' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{% url 'peche:de_ass' stud.id %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   
</div>
{% endblock %}	