
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="col-12">
                        <h5 class="form-title"><span>Formulaire dimension Peche commerce</span></h5>
                     </div>

                     {% include 'includes/messages.html' %}	

                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Production vendue (en tonne) par type de produit: </label>
                           {{ form.ProdVendType }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Production vendue (en tonne) par campagne Hivernage (saison chaude):</label>
                           {{ form.ProdVendCampgnHiver }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Production vendue (en tonne) par campagne Inter-saison (Looly) :</label>
                           {{ form.ProdVendCampgnInterSais }} </div>
                     </div>
                   <div class="col-sm-11">
                        <div class="form-group">
                           <label>Production vendue (en tonne) par campagne Saison froide (Nör):</label>
                           {{ form.ProdVendCampSaisFroid }}
                          </div>
                     </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                           <label>Production vendue (en tonne) par campagne Printemps (Thiorone-inter-saison):</label>
                           {{ form.ProdVendCampPrintem }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Type de vente: </label>
                           {{ form.Type_VentPech }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Mode d’écoulement : </label>
                           {{ form.Mod_ecoulement }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Clients :</label>
                           {{ form.ClientPech}}
                          </div>
                     </div>				 	 
		 
            </div>
                  
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>IdPechComm_PK</th>
                           <th>ProdVendType</th>
                           <th>ProdVendCampgnHiver</th>
                           <th>ProdVendCampgnInterSais</th>
                           <th>ProdVendCampSaisFroid</th>
                           <th>ProdVendCampPrintem</th>
                           <th>Type_VentPech</th>
                           <th>Mod_ecoulement</th>
                           <th>ClientPech</th>
                       
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                        <tr>
                         
                           <td>{{ stud.IdPechComm_PK }}</td>
						   
                           <td>{{ stud.ProdVendType }}</td>

                           <td>{{ stud.ProdVendCampgnHiver }}</td>

                           <td>{{ stud.ProdVendCampgnInterSais }}</td>

                           <td>{{ stud.ProdVendCampSaisFroid }}</td>
						   
                           <td>{{ stud.ProdVendCampPrintem }}</td>
						   
                           <td>{{ stud.Type_VentPech }}</td>
						   
                           <td>{{ stud.Mod_ecoulement }}</td>
						   
                           <td>{{ stud.ClientPech }}</td>				
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'peche:up_com' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{% url 'peche:de_com' stud.id %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
   
</div>
{% endblock %}	