
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="col-12">
                        <h5 class="form-title"><span>Formulaire des mesures de faits de la peche </span></h5>
                     </div>

                     {% include 'includes/messages.html' %}	

                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Date mesure Peche</label>
                           {{ form.Temps_FK }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche Artisanale clé secondaire:</label>
                           {{ form.IdPechArtisan_FK }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche Assurance FK:</label>
                           {{ form.IdPechAssure_FK }} </div>
                     </div>
                   <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche Commercialisation FK</label>
                           {{ form.IdPechComm_FK }}
                          </div>
                     </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche Finance FK</label>
                           {{ form.IdPechFinance_FK }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche Innovation FK:</label>
                           {{ form.IdPechInnov_FK }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche Innovation Transformation artisanale FK:</label>
                           {{ form.IdPechInnovTA_FK }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche Assurance Transformation Artisanale FK:</label>
                           {{ form.IdPechTAAssure_FK}}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche Transformation Artisanale Commercialisation FK:</label>
                           {{ form.IdPechTAComm_FK}}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche TA Finance FK</label>
                           {{ form.IdPechTAFinance_FK }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Peche TransFormation Artisanale FK:</label>
                           {{ form.IdPechTransFormArtisan_FK }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Id Geographie FK: </label>
                           {{ form.IdGeographie_FK }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre d'Acteurs : </label>
                           {{ form.NbrActeur }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de GIE de Pecheurs : </label>
                           {{ form.NbreGIEPecheur }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre d'Organisations Professionnelles de Pecheurs:</label>
                           {{ form.NbrOrganiProfessPecheur }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre d'Association de Pecheurs: </label>
                           {{ form.Nbr_AssociatPecheur }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de GIE Mareyeurs: </label>
                           {{ form.NbreGIEMarey }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre d'Organisations Professionnelles de Mareyeurs:</label>
                           {{ form.NbrOrganiProfessMarey }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre d'Association de Mareyeurs:</label>
                           {{ form.Nbr_AssociatMarey }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de Quaie de Peche: </label>
                           {{ form.NbreQuaiPech }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de Pirogue en Bois:</label>
                           {{ form.NbrPirogBois }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de pirogue en fibre de verre </label>
                           {{ form.NbrePirogFibVer }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de pirogue en  aluminium :</label>
                           {{ form.NbrPirogAlumin }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre pirogues immatriculés :</label>
                           {{ form.NbrePirogImmatri }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de souscription peche : </label>
                           {{ form.NbreSouscripPech }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de prime peche:</label>
                           {{ form.NbrePrimePech }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Quantité annuelle debarquée:</label>
                           {{ form.Qteannuel_debarq }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Prix de Vente Moyenne par Production: </label>
                           {{ form.PriVentMoy_Prod }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nombre de Souscription TransFormation Artisanale:</label>
                           {{ form.NbrSouscripTA }}
                          </div>
                     </div>
					 <div class="col-sm-11">
                        <div class="form-group">
                           <label>Prix de Vente Moyen par Production TransFormation Artisanale: </label>
                           {{ form.PrixVentMoyProdTA }}
                          </div>
                     </div>
                 
                   </div>
                  
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>Temps_FK</th>
                           <th>IdPechArtisan_FK</th>
                           <th>IdPechAssure_FK</th>
                           <th>IdPechComm_FK</th>
                           <th>IdPechFinance_FK</th>
                           <th>IdPechInnov_FK</th>
                           <th>IdPechInnovTA_FK</th>
                           <th>IdPechTAAssure_FK</th>
                           <th>IdPechTAComm_FK</th>
                           <th>IdPechTAFinance_FK</th>
                           <th>IdPechTransFormArtisan_FK</th>
                           <th>IdGeographie_FK</th>
                           <th>NbrActeur</th>
                           <th>NbreGIEPecheur</th>
                           <th>NbrOrganiProfessPecheur</th>
                           <th>Nbr_AssociatPecheur</th>
                           <th>NbreGIEMarey</th>
                           <th>NbrOrganiProfessMarey</th>
                           <th>Nbr_AssociatMarey</th>
                           <th>NbreQuaiPech</th>
                           <th>NbrPirogBois</th>
                           <th>NbrePirogFibVer</th>
                           <th>NbrPirogAlumin</th>
                           <th>NbrePirogImmatri</th>
                           <th>NbreSouscripPech</th>
                           <th>NbrePrimePech</th>
                           <th>Qteannuel_debarq</th>
                           <th>PriVentMoy_Prod</th>
                           <th>NbrSouscripTA</th>
                           <th>PrixVentMoyProdTA</th>                          
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                        <tr>
                         
                           <td>{{ stud.Temps_FK }}</td>   
                           <td>{{ stud.IdPechArtisan_FK }}</td>
                           <td>{{ stud.IdPechAssure_FK }}</td>
                           <td>{{ stud.IdPechComm_FK }}</td>
                           <td>{{ stud.IdPechFinance_FK }}</td>
                           <td>{{ stud.IdPechInnov_FK }}</td> 
                           <td>{{ stud.IdPechInnovTA_FK }}</td>  
                           <td>{{ stud.IdPechTAAssure_FK }}</td>
                           <td>{{ stud.IdPechTAComm_FK }}</td> 
                           <td>{{ stud.IdPechTAFinance_FK }}</td>
                           <td>{{ stud.IdPechTransFormArtisan_FK }}</td>
                           <td>{{ stud.IdGeographie_FK }}</td>
                           <td>{{ stud.NbrActeur }}</td>
                           <td>{{ stud.NbreGIEPecheur }}</td>
                           <td>{{ stud.NbrOrganiProfessPecheur }}</td>
                           <td>{{ stud.Nbr_AssociatPecheur }}</td> 
                           <td>{{ stud.NbreGIEMarey }}</td>  
                           <td>{{ stud.NbrOrganiProfessMarey }}</td> 
                           <td>{{ stud.Nbr_AssociatMarey }}</td> 
                           <td>{{ stud.NbreQuaiPech }}</td> 
                           <td>{{ stud.NbrPirogBois }}</td> 
                           <td>{{ stud.NbrePirogFibVer }}</td> 
                           <td>{{ stud.NbrPirogAlumin }}</td> 
                           <td>{{ stud.NbrePirogImmatri }}</td> 
                           <td>{{ stud.NbreSouscripPech }}</td> 
                           <td>{{ stud.NbrePrimePech }}</td> 
                           <td>{{ stud.Qteannuel_debarq }}</td> 
                           <td>{{ stud.PriVentMoy_Prod }}</td> 
                           <td>{{ stud.NbrSouscripTA }}</td> 
                           <td>{{ stud.PrixVentMoyProdTA }}</td>		
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'das:update_ass' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{% url 'das:delete' stud.id %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
   
</div>
{% endblock %}	