
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="col-12">
                        <h5 class="form-title"><span>Formulaire dimension Peche Innovation TA:</span></h5>
                     </div>

                     {% include 'includes/messages.html' %}	

                    <div class="col-sm-11">
                        <div class="form-group">
                           <label>Technologies introduites Transformation artisanale :</label>
                           {{ form.TechnoIntroTA }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Technologies adoptées Transformation artisanale :</label>
                           {{ form.TechnoAdoptTA }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Technologies non adoptées Transformation artisanale :</label>
                           {{ form.CausNoAdoptTA}} </div>
                     </div>
                   <div class="col-sm-11">
                        <div class="form-group">
                           <label>Causes de non adoption transformation artisanale:</label>
                           {{ form.CausTechnoNoAdop }}
                          </div>
                     </div>
                    		 
            </div>
                  
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>Id</th>
                           <th>TechnoIntroTA</th>
                           <th>TechnoAdoptTA</th>
                           <th>CauseNoAdoptTA</th>
                           <th>CausTechnoNoAdopTA</th>                   
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                        <tr>
                         
                           <td>{{ stud.Id }}</td>
						   
                           <td>{{ stud.TechnoIntroTA}}</td>

                           <td>{{ stud.TechnoAdoptTA }}</td>

                           <td>{{ stud.CausNoAdoptTA }}</td>

                           <td>{{ stud.CausTechnoNoAdop }}</td>
		                             				
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'peche:up_taino' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{% url 'peche:de_taino' stud.id %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
   
</div>
{% endblock %}	