
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
 <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="form-title"><span>tranformation Peche</span></h5>
            </div>
            {% include 'includes/messages.html' %}	
            <div class="card-body">
               <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                  {{ form.as_p }}
                  
                  <div class="text-right">
                     <button type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   
 <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          
         
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0">
                      <thead>
                         <tr>
                           <tr>
                             
                            <th>ID</th>
                            <th>codeCommune</th>
                            <th>nomCommune</th>
                            <th>ActTransfArtisan</th>
                            <th>GrptTransformtrTA</th>
                            <th>TypServicOffrGIE</th>
                            <th>TypServicOffrAssocia</th>
                            <th>TypServicOffrOrgProf</th>
                            <th>FourniIntranMatTrans</th>
                            <th>SitTransform</th>
                            <th>MatEquipTransExist</th>
                            
                            <th>TypProdTransfPeriod</th>
                            <th>SourcApproIntranMatTA</th>
                            <th>QteProdPeriodTA</th>
                            <th>QteProdTypeTA</th>
                            <th>TauxTransformArtisan</th>
                            <th>Date Début</th>
                            <th>Date de Modification</th>
                           <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for stud in dataObject %}
                         <tr>
                           <td>{{ stud.id }}</td>
                           <td>{{ stud.codeCommune }}</td>
                           <td>{{ stud.nomCommune }}</td>
                           <td>{{ stud.ActTransfArtisan }}</td>
                           <td>{{ stud.GrptTransformtrTA }}</td>
                           <td>{{ stud.TypServicOffrGIE }}</td>
                           <td>{{ stud.TypServicOffrAssocia }}</td>
                           <td>{{ stud.TypServicOffrOrgProf }}</td>
                           <td>{{ stud.FourniIntranMatTrans }}</td>
                           <td>{{ stud.SitTransform }}</td>
                           <td>{{ stud.MatEquipTransExist }}</td>
                           
                           <td>{{ stud.TypProdTransfPeriod }}</td>
                           <td>{{ stud.SourcApproIntranMatTA }}</td>
                           <td>{{ stud.QteProdPeriodTA }}</td>
                           <td>{{ stud.QteProdTypeTA }}</td>
                           <td>{{ stud.TauxTransformArtisan }}</td>
                             <td>{{ stud.date}}</td>
                             <td>{{ stud.date_modification }}</td>

                            
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'peche:update_trs' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'peche:delete_trs' stud.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 
    
 </div>
 {% endblock %}	