
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
 <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="form-title"><span>Gouvernance</span></h5>
            </div>
            {% include 'includes/messages.html' %}	
            <div class="card-body">
               <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                  <div class="row">
                     <div class="col-md-6">
                        
                        <div class="form-group">
                           <label>Loi Reglemente:</label>
                           {{ form.LoiReglement }}
                        </div>
                        <div class="form-group">
                           <label>Outil Securise Foncie:</label>
                           {{ form.OutilSecuriseFoncie }}
                        </div>
                        <div class="form-group">
                           <label>Act Foncier:</label>
                           {{ form.ActFoncier }}
                        </div>
                        <div class="form-group">
                          <label>Degre Connaissance:</label>
                          {{ form.DegreConnaissanc }}
                       </div>
                        <div class="form-group">
                           <label>Niv Comprehension:</label>
                           {{ form.NivComprehension }}
                        </div>
                        <div class="form-group">
                           <label>Resumée:</label>
                           {{ form.Resume }}
                        </div>
                        <div class="form-group">
                           <label>Atelier Bon Informat:</label>
                           {{ form.AtelierBonInformat }}
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>Securité Ajout:</label>
                           {{ form.SecuritAjout }}
                        </div>
                        <div class="form-group">
                           <label>Act Implique:</label>
                           {{ form.ActImplique }}
                        </div>
                        <div class="form-group">
                           <label>CauseAvance:</label>
                           {{ form.CauseAvance}}</div>
                        <div class="form-group">
                           <label>Solution Propose:</label>
                           {{ form.SolutionPropose }}
                        </div>
                        <div class="form-group">
                           <label>Solution Retenu:</label>
                           {{ form.SolutionRetenu }}
                        </div>
                        <div class="form-group">
                           <label>Verification Procedur:</label>
                           {{ form.VerificatProcedur }}
                        </div>
                        <div class="form-group">
                          <label>Control Permanan:</label>
                          {{ form.ControlPermanant}}
                       </div>
                  </div>
                  <div class="text-right">
                     <button type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   
</div>


     
<div >
  <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          
         
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Loi Reglement</th>
                            <th>OutilSecuriseFoncie</th>
                            <th>ActFoncier</th>
                            <th>DegreConnaissanc</th>
                            <th>NivComprehension</th>
                            <th>Resume</th>
                            <th>AtelierBonInformat</th>
                            <th>SecuritAjout</th>
                            <th>ActImplique </th>
                            <th>CauseAvance</th>
                            <th>SolutionPropose</th>
                            <th>SolutionRetenu</th>
                            <th>VerificatProcedur</th>
                            <th>ControlPermanant</th>
                           <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for stud in dataObject %}
                         <tr>
                          
                            <td>{{ stud.id }}</td>
                            <td>{{stud.LoiReglement}}</td>
                            <td>{{stud.OutilSecuriseFoncie}}</td>
                            <td>{{stud.ActFoncier}}</td>
                            <td>{{ stud.DegreConnaissanc }}</td>
                            <td>{{ stud.NivComprehension }}</td>

                            <td>{{ stud.Resume }}</td>
                              <td>{{ stud.AtelierBonInformat }}</td>
                            <td>{{ stud.SecuritAjout }}</td>
                            <td>{{ stud.ActImplique }}</td>
                             <td>{{ stud.CauseAvance }}</td>
                             <td>{{ stud.SolutionPropose }}</td>
                             <td>{{ stud.SolutionRetenu}}</td>

                            <td>{{ stud.VerificatProcedur }}</td>
                            <td>{{ stud.ControlPermanant }}</td>

                            <td class="text-right">
                               <div class="actions">
                                <a href="{% url 'foncier:up_fon' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'foncier:de_fon' stud.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
    </div>
    
 </div>
 {% endblock %}	