
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="col-12">
                        <h5 class="form-title"><span>Assurance agricole</span></h5>
                     </div>

                     {% include 'includes/messages.html' %}	

                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>code Commune </label>
                           {{ form.codeCommune }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>nom Commune </label>
                           {{ form.nomCommune  }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Code Indicateur</label>
                           {{ form.CodeIndicateur }} </div>
                     </div>
                   <div class="col-sm-11">
                        <div class="form-group">
                           <label>Indicateur</label>
                           {{ form.Indicateur}}
                          </div>
                     </div>
                     <div class="col-sm-11">
                      <div class="form-group">
                         <label>Code Domaine </label>
                         {{ form.CodeDomaine }}
                        </div>
                   </div>
                   <div class="col-sm-11">
                    <div class="form-group">
                       <label>Nom Domaine</label>
                       {{ form.NomDomaine}}
                      </div>
                 </div>
                  
                 
                   </div>
                  
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>code Commune </th>
                           <th>nom Commune </th>
                           <th>Code Indicateur</th>
                           <th>Indicateur</th>
                           <th>CodeDomaine</th>
                           <th>NomDomaine</th>
                           
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                        <tr>
                         
                           <td>{{ stud.id }}</td>
                           <td>{{ stud.codeCommune  }}</td>

                           <td>{{ stud.nomCommune  }}</td>

                           <td>{{ stud.CodeIndicateur}}</td>

                           <td>{{ stud.Indicateur }}</td>
                           <td>{{ stud.CodeDomaine}}</td>

                           <td>{{ stud.NomDomaine }}</td>
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'foncier:up_geo' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{% url 'foncier:de_geo' stud.id %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
   
</div>
{% endblock %}	