{% load static %}
<div class="header">
  <div class="header-left">
    <a href="{% url 'acceueil' %}" class="logo">
      <img src="{% static 'assets/img/logo.jpg' %}" alt="Logo" />
    </a>
    <a href="{% url 'acceueil' %}" class="logo logo-small">
      <img
        src="{% static 'assets/img/log.jpg' %}"
        alt="Logo"
        width="30"
        height="30"
      />
    </a>
  </div>
  <a href="javascript:void(0);" id="toggle_btn">
    <i class="fas fa-align-left"></i>
  </a>
  <div class="top-nav-search"></div>
  <a class="mobile_btn" id="mobile_btn">
    <i class="fas fa-bars"></i>
  </a>

  <ul class="nav user-menu">
    {% if not request.user.userprofile %}
    <li><a href="{% url 'create_profile' %}">Complétez votre Profil</a></li>
    {% endif %}
    <li class="nav-item dropdown has-arrow">
      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
        <span class="user-img">
          <img
            src="{{ request.user.userprofile.profile_picture.url }}"
            alt="User Image"
            width="50"
            height="50"
          />
        </span>
      </a>
      <div class="dropdown-menu">
        <div class="user-header">
          <div class="avatar avatar-sm">
            <span class="user-img">
              <img
                src="{{ request.user.userprofile.profile_picture.url }}"
                alt="User Image"
                width="50"
                height="50"
              />
            </span>
          </div>
          <div class="user-text">
            <h6>
              {{ request.user.userprofile.first_name }}
              {{request.user.userprofile.last_name }}
            </h6>
          </div>
        </div>
        {% if not request.user.userprofile %}
        <a class="dropdown-item" href="{% url 'create_profile' %}"
          >Ajouter un Profil</a
        >
        {% else %}
        <a class="dropdown-item" href="{% url 'profile_list' %}">Profil</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a>
      </div>
    </li>
  </ul>
</div>
