{% load static %}
<div class="header">
   <div class="header-left">
      <a href="{% url 'posts:index' %}" class="logo">
      <img src=" {% static 'assets/img/logo.jpg ' %}" alt="Logo">
      </a>
      <a href="{% url 'posts:index' %}" class="logo logo-small">
      <img src=" {% static 'assets/img/log.jpg' %}" alt="Logo" width="30" height="30">
      </a>
   </div>
   <a href="javascript:void(0);" id="toggle_btn">
   <i class="fas fa-align-left"></i>
   </a>
   <div class="top-nav-search">
   
   </div>
   <a class="mobile_btn" id="mobile_btn">
   <i class="fas fa-bars"></i>
   </a>
   <ul class="nav user-menu">
      
      <li class="nav-item dropdown has-arrow">
         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            {% if user.profile_pic == "" %}
            <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/photos.jfif' %}" width="31" alt=""></span>
         {% else %}
         <span class="user-img"><img class="rounded-circle" src="/{{user.profile_pic}}" width="31" alt="Profile"></span>
         {% endif %}
         </a>
         <div class="dropdown-menu">
            <div class="user-header">
               <div class="avatar avatar-sm">
                  {% if user.profile_pic == "" %}
                  <img src="{% static 'assets/img/photos.jfif' %}" alt="User Image" class="avatar-img rounded-circle">
                   {% else %}
                   <img src="/{{user.profile_pic}}" alt="User Image" class="avatar-img rounded-circle">
                   {% endif %}
               </div>
               <div class="user-text">
                  <h6>{{user.username}}

               </div>
            </div>
            <a class="dropdown-item" href="{% url 'profile_update' %}">Mon profil</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a>
         </div>
      </li>
   </ul>
</div>