{% load active_link_tags %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
       
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="{% active_link 'home' 'active' %}">
              <a href="{% url 'home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
           </li>
           {% if user.user_type == '1' %}
           <li class="submenu {% active_link '' 'active' %} {% active_link '' 'active' %}">
               <a href='foncier_home'><i class="fa-regular fa-wheat-awn"></i><span> Agriculture</span> <span class="menu-arrow"></span></a>
           
               <ul>
                        
                       <li><a href="{% url 'das:dimagroassu' %}">Agro Assurance</a></li>
                       <li><a href="{% url 'das:dimagrocul' %}">Agro Culture</a></li>
                       <li><a href="{% url 'das:dimagrofin' %}">AgroFinance</a></li>
                       <li><a href="{% url 'das:dimagroorg' %}">Agro Organisation</a></li>
                       <li><a href="{% url 'das:dimagroprod' %}">Agro Production</a></li>
                       <li><a href="{% url 'das:dimcom'%}">Agro commerce</a></li>
                       <li><i class=""></i>
                          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
                        </li>
               </ul>
            </li>
         </ul>
        {% elif user.user_type == '2' %}
         <ul>
            
           <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
               <a href="#"><i class="fa-solid fa-landmark"></i><span> Foncier</span> <span class="menu-arrow"></span></a>
          
               <ul>
                        
             
               <li><a href="{% url 'foncier:DimFoncier' %}">Foncier</a></li>
               <li><a href="{% url 'foncier:DimFoncierGouvernanc' %}">Gouvernance</a></li>
               <li><a href="{% url 'foncier:FactFoncier' %}">FactFoncier</a></li>
               <li><a href="{% url 'foncier:DimGeographie' %}">Geographie</a></li>
               <li><i class=""></i>
                          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
                        </li>
               </ul>
            </li>
         </ul>
         {% elif user.user_type == '3' %}
         <ul>
           
           <li class="submenu {% active_link 'peche:dimpecart' 'active' %} {% active_link 'view_student' 'active' %}">
               <a href="#"><i class="fa-regular fa-fish"></i><span> Peche</span> <span class="menu-arrow"></span></a>
          
               <ul>
                 
                 
                  <li><a href="{% url 'peche:dimpecart'%}">Peche Artisan</a></li>
                  <li><a href="{% url 'peche:dimpecass'%}">Peche Assurance</a></li>
                  <li><a href="{% url 'peche:dimpecec'%}">Peche Commerce</a></li>
                  <li><a href="{% url 'peche:dimpecfin'%}">Peche Finance</a></li>
                  <li><a href="{% url 'peche:pech_ino'%}">Peche Innovation</a></li>
                  <li><a href="{% url 'peche:pech_taino'%}">Peche TA Innovation</a></li>
                  <li><a href="{% url 'peche:pech_trans'%}">Peche tranformation Artisan</a></li>
                  <li><a href="{% url 'peche:pech_taassu'%}">Peche TA Assurance</a></li>
                  <li><a href="{% url 'peche:pech_tacom'%}">Peche TA Commerce</a></li>
                  <li><a href="{% url 'peche:pech_tafina'%}">Peche TA Finance</a></li>
                  <li><a href="{% url 'peche:pech_fac'%}">Fac Peche</a></li>
                       <li><i class=""></i>
                          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
                        </li>
               </ul>
            </li>
            
         </ul> 
      {% elif user.user_type == '4' %}
         <ul>
       
           <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Education</span> <span class="menu-arrow"></span></a>
          
               <ul>
                        
                  <li><a href="{% url 'education:DimEqui'%}">  Equipements</a></li>
                  <li><a href="{% url 'education:DimGou'%}"> Gouvernance</a></li>
                  <li><a href="{% url 'education:DimPer'%}">  Performance</a></li>
                  <li><a href="{% url 'education:Dimp'%}"> Personnel</a></li>
                  <li><a href="{% url 'education:dim_Access'%}">  Accesse</a></li>
                       <li><i class=""></i>
                          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
                        </li>
               </ul>
            </li>
         </ul>
     {% elif user.user_type == '5' %}
         <ul>
            
           <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
               <a href="#"><i class="fa-solid fa-notes-medical"></i> <span> Sante</span> <span class="menu-arrow"></span></a>
          
               <ul>
                        
                  <li><a href="{% url 'sante:vacination'%}">Vacination et Routine</a></li>
                  <li><a href="{% url 'sante:survienfant'%}">Survie Enfant</a></li>
                  <li><a href="{% url 'sante:SantePaludisme'%}">Paludisme</a></li>
                  <!--li><a href="">Alimentation Nutrition 1</a></li>
                  <li><a href="">Alimentation Nutrition 2</a></li>
                  <li><a href="">Alimentation Nutrition 3</a></li-->
                  <li><a href="{% url 'sante:ReproductionEtJeune'%}">Reproduction Jeune</a></li>
                  <li><a href="{% url 'sante:PlanificationFamiliale'%}">Planification Familiale</a></li>
                  <!--li><a href="">Alimentation Nutrition 2</a></li>
                  <li><a href="">Alimentation Nutrition 3</a></li-->
                       <li><i class=""></i>
                          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
                        </li>
               </ul>
             
            </li>
         </ul>
         {% else %}
       {% endif %}
       </div>
    </div>
 </div>