{% extends 'layout/base.html'%}

{% load static %}



    <title>{% block title%}joal{%endblock%}</title>
 </script>
</head>


<body >
    <header>
        {% include 'layout/partial/header.html' %}
    </header>

    {% block body  %}
	<div class=" px-2 my-3 row row-cols-sm-12" style="padding-right: 0rem !important;
	padding-left: 0rem !important;">

	
 <!-- <div class="col-sm-12">
        <img src="{% static '/imge/image _accueil.png'%}" alt="logo" width="100%" height="100%">
    </div> -->

 <!-- Content Start -->

            <!-- Navbar Start -->

            <!-- Navbar End -->
            <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5 container">
                <div class=" px-4 my-5 row row-cols-sm-12">
                    <div class="jumbotron text-center">
                        <div style="display: flex; width: 100%; height: 100%; color:#258baf">
                            <h2>Commune de Joal-Fadiouth<span> </span></h2></div></div><div class="col-sm-12">
                                <p class="para" style="font-size: 18px">
              
<b>Caractéristiques globales de la commune </b><br> 
<b>Coordonnées géographiques:</b>

Latitude: 14.1286
Longitude: -16.8297 14° 7′ 43″ Nord, 16°
49′ 47″ Ouest<br>
<b>Agglomération de Joal-Fadiouth :  5035 ha ou 50,35 km2</b><br>
<b>Population :</b> 33621 habitants<br>
<b>Population masculine:</b> 17 045 (50,7 %)<br>
<b>Population féminine:</b> 16 575 (49,3 %)<br>
<b>Changement de la population entre 1975 et 2015:</b> +78,2 %<br>
<b>Changement de la population entre 2000 et 2015:</b> +32,9 %<br>
<b>Age moyen:</b> 17,8 ans<br>
<b>Age masculin moyen:</b> 17,1 ans<br>
<b>Age féminin moyen:</b> 18,5: ans<br>
<b>Pêche artisanale:</b></br>
<b>Source :</b> A partir des données de l’ANSD (2014) et du PDU Joal Fadiouth (2022)<br><br><br>
La commune de Joal-Fadiouth est située à l&#39;extrémité de la petite-côte, au sud de la capitale Dakar.
Joal-Fadiouth est la réunion de deux villages, Joal, plus vaste et sur le littoral et Fadiouth, plus visité
par les touristes. Fadiouth est aussi une île artificielle et relié à Joal par un pont de bois. Fadiouth est
le village de naissance du président poète, Léopold Sédar Senghor.<br>
La commune de Joal – Fadiouth est caractérisée par trois grandes zones. Un première zone qui
correspond à Joal et qui regroupe les services administratifs et municipaux. Une deuxième zone
plutôt commerciale qui coïncide avec la zone du port. Une troisième zone dédiées aux unités de
transformation des produits de la pêche dans les tannes.<br><br>
<b>Histoire de la commune:</b><br>
L’histoire de la commune est diversement racontée par les historiens et leaders traditionnels. La
commune est majoritairement habitée par des Sérères, contraints par la percée des Almoravides et
qui ont quitté la vallée du Fleuve Sénégal pour s’installer dans la petite côte et le Sine. Pour d’autres,
Joal et Fadiouth furent fonder par les Guelwar chassés du royaume du Gabou. Joal a enregistré,
durant la période coloniale, l’arrivée successive des Portugais, Hollandais, Français et Anglais et a été
un grand comptoir commercial du Sénégal.<br><br>


<b>Population:</b><br>
Au dernier recensement de 2013 (ANSD, 2014), la commune comptait 39 078 habitants. La densité
moyenne est de 776,1/km² (ANSD, 2014). Lees ethnies sérères surtout Niominka, Lébous et Guet
Ndariens et les wolofs sont les ethnies ou sous ethnies dominantes. Certains sont attirées par la mer
et sont des pêcheurs itinérants.<br><br>
<b>Cadre physique:</b><br>
Le Climat est de type semi-aride, sec et chaud. La commune de Joal – Fadiouth se retrouve sur une
longue plaine et se dresse entre l’Océan Atlantique, le bras de mer de Mama NGethie et les tannes.
Les températures annuelles fluctuent entre 15 et 34°C.<br><br>
<b>Atouts:</b><br>
La commune regorge d’importantes potentialités agricoles, halieutiques et touristiques. Du fait de sa
position géographique, la ville recèle d’une longue côte et très poissonneuse, d’une mer
relativement calme et de belles plages de sable. Il s’y développe une florissante pêche artisanale et
de la transformation artisanale de produits de mer. Les activités de pêche et de transformation
artisanale halieutiques sont des sources de revenus pour la plupart des populations autochtones et
allochtones. Elles jouent un rôle important dans l’économie locale et nationale.<br>
La commune de Joal - Fadiouth constitue le premier port de pêche artisanale du pays avec un quai
équipé. Elle constitue également un lieu touristique et attire par ses sites et monuments historiques
dans la commune et ses traditions culturelles et socio-économiques.<br><br>

<b>Contraintes:</b><br>
Les contraintes majeure sont d’ordre technique, foncière, écologique et naturelles. Le manque
d’espaces urbains rend très difficile l&#39;extension de la ville. Cet extension de pourra se faire qu’au
détriment d’autres communes voisines et des formations forestières.<br><br>



Les inondations sont fréquentes dans la commune. Le document du Plan Directeur d’urbanisme de la
commune de Joal - Fadiouth Horizon 2022 estime que 60 % de la superficie de la commune est
inondable durant la saison des pluies.<br>
Ces problèmes d’inondation s’explique par les faibles dénivellations dans l&#39;estuaire et les sols argileux
peu perméables et qui favorisent très peu l’infiltration des eaux de ruissellement.<br>
Les contraintes de la commune se structure surtout dans la planification de politiques publiques
étatiques ou avec des partenaires au développement et basée sur des données probantes. Les
données infranationales ne sont pas centralisées. Elles sont détenues par des services techniques
locaux et nationaux et des groupements d’acteurs et ceux-ci ne sont pas reliés dans un cadre
d’échanges ou de co-publication des données.<br>
C’est ce qui donne au projet de « Renforcement de Chaînes de Valeurs de données Infranationales
en Afrique Subsaharienne (PRECVADI) » tout son sens et sa pertinence. </p>
            
                                
            </div>



    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src=" {% static 'lib/easing/easing.min.js '%}"></script>
    <script src=" {% static 'lib/waypoints/waypoints.min.js '%}"></script>
    <script src=" {% static 'lib/owlcarousel/owl.carousel.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/moment.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/moment-timezone.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js '%}"></script>

    <!-- Template Javascript -->
    <!-- script src=" {% static 'js/main.js '%}"></script-->

<!-- diagramme-->


</html>

</div>
<div class="col">






    </div>
</div>
</body>
{% endblock %}




