
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="col-12">
                        <h5 class="form-title"><span>Production</span></h5>
                     </div>

                     {% include 'includes/messages.html' %}	

                     
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Nom Production</label>
                           {{ form.name_Production }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Code culture</label>
                           {{ form.CodeCulture }} </div>
                     </div>
                   <div class="col-sm-11">
                        <div class="form-group">
                           <label>Type Culture Pratiquer</label>
                           {{ form.type_cult_prat}}
                          </div>
                     </div>
                     <div class="col-sm-11">
                      <div class="form-group">
                         <label>Rendement hecta/cul</label>
                         {{ form.RendemHectarCult }}</div>
                   </div>
                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>Taux Perte post Recolte /cult</label>
                         {{ form.TauxPertPostRecoltParCult }}</div>
                   </div>
                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>Type Sol Existe</label>
                         {{ form.TypeSolExist }} </div>
                   </div>
                 <div class="col-sm-11">
                      <div class="form-group">
                         <label>Type Degradation zone cult</label>
                         {{ form.TypeDegradZonCultur }}
                        </div>
                   </div>
                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>Cause Degradation </label>
                         {{ form.CauseDegrad}}
                        </div>
                   </div>
                 
                   </div>
                  
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Nom Production</th>
                           <th>Code culture</th>
                           <th>Type Cul Prati</th>
                           <th>Rdement hecta/cul</th>
                           <th>Taux Perte post Reco/cult</th>
                           <th>Type Sol Existe</th>
                           <th>Type Degradation</th>
                           <th>Cause Degradation</th>
                           
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                        <tr>
                         
                           <td>{{ stud.id }}</td>
                           <td>{{ stud.name_Production }}</td>

                           <td>{{ stud.CodeCulture}}</td>

                           <td>{{ stud.type_cult_prat }}</td>

                           <td>{{ stud.RendemHectarCult }}</td>
                           <td>{{ stud.TauxPertPostRecoltParCult }}</td>

                           <td>{{ stud.TypeSolExist}}</td>

                           <td>{{ stud.TypeDegradZonCultur }}</td>
                           <td>{{ stud.CauseDegrad  }}</td>
                          
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'das:update_pr' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{% url 'das:delete_pr' stud.id %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
   
</div>
{% endblock %}	