
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                     <div class="col-12">
                        <h5 class="form-title"><span>Assurance agricole</span></h5>
                     </div>

                     {% include 'includes/messages.html' %}	

                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Offreurs d’assurance</label>
                           {{ form.OffreuAssurance }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Type d’assurance</label>
                           {{ form.TypeAssurance }}</div>
                     </div>
                     <div class="col-sm-11">
                        <div class="form-group">
                           <label>Culture assurée</label>
                           {{ form.CulturAssure }} </div>
                     </div>
                   <div class="col-sm-11">
                        <div class="form-group">
                           <label>Niveau des primes</label>
                           {{ form.NivPrime }}
                          </div>
                     </div>
                  
                 
                   </div>
                  
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Offreurs d’assurance</th>
                           <th>Type d’assurance</th>
                           <th>Culture assurée</th>
                           <th>Niveau des primes</th>
                           
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                        <tr>
                         
                           <td>{{ stud.id }}</td>
                           <td>{{ stud.OffreuAssurance }}</td>

                           <td>{{ stud.TypeAssurance }}</td>

                           <td>{{ stud.CulturAssure }}</td>

                           <td>{{ stud.NivPrime }}</td>
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'das:update_ass' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                 <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{% url 'das:delete' stud.id %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
   
</div>
{% endblock %}	